/.idea/modules.xml
/.idea/misc.xml
/ConcatenatedWordsChallenge.iml
/.idea/compiler.xml
/.idea/libraries/Maven__com_googlecode_concurrent_trees_concurrent_trees_1_0_0.xml
/.idea/libraries/Maven__junit_junit_4_8_2.xml
/.idea/vcs.xml
